#raceAnchor{
	/* Nepal theme from https://uigradients.com/#Nepal */
	/*-fx-background-color : linear-gradient(to left,
		#de6161,
		#3c69f0
	); */
	
	/* Sunset from https://uigradients.com/#Sunset */
	-fx-background-color : linear-gradient(to right,
		#0B486B,
		#F56217
	);
}

#faGoBackIcon{
	-fx-rotate: 180;
	-fx-background-color:  #000000;
}

#btnGoBack{
	-fx-background-color:  #000000;	
    -fx-background-radius: 10.0 10.0 10.0 10.0;
    -fx-border-radius: 10.0 10.0 10.0 10.0;
}

.raceScene { 
	#pane {
    -fx-background-size: 1200.0 900.0;
    -fx-background-radius: 10.0 10.0 10.0 10.0;
    -fx-border-radius: 10.0 10.0 10.0 10.0;
    -fx-background-color: #ffffff;
  }	
}